@use 'variables' as *;

// Adjust shape size based on given value
@mixin shapeSize($value) {
  @if $value == 1 {
    width: $size;
    height: $size;
  } @else {
    width: calc(#{$size * $value});
    height: calc(#{$size * $value});
  }
}
