@use "variables" as *;
@use "mixins" as *;
/*
  ==========================
    Globals
  ==========================
*/
.square {
  position: absolute;

  width: $size;
  height: $size;
}

.size-l {
  width: calc(#{$size} * 1.8);
  height: calc(#{$size} * 1.8);
}

.size-m {
  width: calc(#{$size} * 1.4);
  height: calc(#{$size} * 1.4);
}

.size-s {
  width: calc(#{$size} * 0.9);
  height: calc(#{$size} * 0.9);
}

.theme-set-1 {
  @include square-theme-1;
}

/*
  ==========================
    ID
  ==========================
*/
@each $num, $top, $left in $squares-l {
  #square-l-#{$num} {
    top: #{$top};
    left: #{$left};
  }
}

@each $num, $top, $left in $squares-m {
  #square-m-#{$num} {
    top: #{$top};
    left: #{$left};
  }
}

@each $num, $top, $left in $squares-s {
  #square-s-#{$num} {
    top: #{$top};
    left: #{$left};
  }
}