@use "variables" as *;
@use "mixins" as *;
/*
  ==========================
    Globals
  ==========================
*/

// --- Shapes
.square {
  @include shapeSize(1);

  position: absolute;

  box-shadow: 0px 12px 100px rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
}

// --- Sizes
.size-l {
  @include shapeSize(2);
}

.size-m {
  @include shapeSize(1.5);
}

.size-s {
  @include shapeSize(0.9);
}

// --- Color themes
.theme-set-1 {
  background: $theme-1;
}

/*
  ==========================
    ID
  ==========================
*/
@each $num, $top, $left, $index in $squares-l {
  #square-l-#{$num} {
    top: #{$top};
    left: #{$left};
    z-index: #{$index};
  }
}

@each $num, $top, $left, $index in $squares-m {
  #square-m-#{$num} {
    top: #{$top};
    left: #{$left};
    z-index: #{$index};
  }
}

@each $num, $top, $left, $index in $squares-s {
  #square-s-#{$num} {
    top: #{$top};
    left: #{$left};
    z-index: #{$index};
  }
}
