$squares-l: // square num, top, left
  "1" 15rem -13rem, 
  "2" -10rem 19rem, 
  "3" 23rem 35rem, 
  "4" 3rem 53rem,
  "5" 18rem 78rem;
  
$squares-m: // square num, top, left
"1" -7rem 6rem, 
"2" 29rem 18rem, 
"3" 5rem 33rem, 
"4" -4rem 57rem,
"5" 7rem 79rem;

$size: 20rem;