/* 
  ==========================
    PROPERTIES
  ==========================
*/

// Base size
$size: 20rem;

// (id num), (top), (left), (z-index)
$squares-l:
"1" 15rem -13rem 1, 
"2" -10rem 19rem 1, 
"3" 23rem 35rem 1, 
"4" 3rem 53rem 1,
"5" 18rem 78rem 1;
  
$squares-m:
"1" -11rem 6rem 2, 
"2" 29rem 18rem 2, 
"3" 5rem 27rem 2, 
"4" -4rem 57rem 2,
"5" 7rem 79rem 2;

$squares-s:
"1" -2rem -7rem 3, 
"2" 15rem 16rem 3, 
"3" -12rem 48rem 3, 
"4" 36rem 70rem 3,
"5" -8rem 78rem 3;

// Color themes
$theme-1: linear-gradient(45deg, hsl(231, 66%, 11%) 7.58%, hsl(231, 83%, 37%) 100%);
$theme-2: linear-gradient(45deg, hsl(147, 94%, 58%) 7.58%, hsl(184, 97%, 54%) 100%);
$theme-3: linear-gradient(45deg, hsl(29, 89%, 48%) 7.58%, hsl(61, 91%, 51%) 100%);
$theme-4: linear-gradient(45deg, hsl(283, 91%, 5%) 7.58%, hsl(288, 90%, 50%) 100%);

/* 
  ==========================
    ANIMATION
  ==========================
*/

// (id num), (name), (duration), (timing function), (delay), (iteration count), (direction)
$squares-l-anim:
"1" anim-sq-l-1 2.7s ease-in-out 0s infinite alternate,
"2" anim-sq-l-2 2.5s ease-in-out 0s infinite alternate,
"3" anim-sq-l-3 2.4s ease-in-out 0s infinite alternate,
"4" anim-sq-l-4 2.6s ease-in-out 0s infinite alternate,
"5" anim-sq-l-5 2.3s ease-in-out 0s infinite alternate;

$squares-m-anim:
"1" anim-sq-m-1 2.6s ease-in-out 0s infinite alternate,
"2" anim-sq-m-2 2.3s ease-in-out 0s infinite alternate,
"3" anim-sq-m-3 2.5s ease-in-out 0s infinite alternate,
"4" anim-sq-m-4 2.4s ease-in-out 0s infinite alternate,
"5" anim-sq-m-5 2.7s ease-in-out 0s infinite alternate;

$squares-s-anim:
"1" anim-sq-s-1 2.3s ease-in-out 0s infinite alternate,
"2" anim-sq-s-2 2.4s ease-in-out 0s infinite alternate,
"3" anim-sq-s-3 2.6s ease-in-out 0s infinite alternate,
"4" anim-sq-s-4 2.7s ease-in-out 0s infinite alternate,
"5" anim-sq-s-5 2.5s ease-in-out 0s infinite alternate;