// VARIABLES
$size: 20rem;
$color: darkblue;

// Square - GLOBALS
.container-square-l {
  position: absolute;
  display: flex;
  transform: translate(-10rem);
}

.square {
  margin: 2rem;

  width: $size;
  height: $size;

  transform: rotateZ(45deg);

  background-color: $color;
}

.size-l {
  width: calc(#{$size} * 1.5);
  height: calc(#{$size} * 1.5);
}