/*
  ==========================
  1. Variables
  ==========================
*/
$squares-l: // num, top, left
  "1" 17rem -10rem, 
  "2" -10rem 19rem, 
  "3" 23rem 35rem, 
  "4" 3rem 53rem,
  "5" 18rem 78rem;

$size: 20rem;

@mixin square-theme-1 {
  background: linear-gradient(45deg, hsl(231, 66%, 11%) 7.58%, hsl(231, 83%, 37%) 100%);
  box-shadow: 0px 12px 100px rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
}

/*
  ==========================
  2. Globals
  ==========================
*/
.square {
  position: absolute;

  width: $size;
  height: $size;
}

.size-l {
  width: calc(#{$size} * 1.6);
  height: calc(#{$size} * 1.6);
}

/*
  ==========================
  3. ID
  ==========================
*/
@each $num, $top, $left in $squares-l {
  #square-l-#{$num} {
    @include square-theme-1;

    top: #{$top};
    left: #{$left};
  }
}